<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2264,379},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40014.png</key>
            <dict>
                <key>frame</key>
                <string>{{3602,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2933,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2264,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1340},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,671},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1340},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,671},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1340},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,671},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40038.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1340},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40040.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,671},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40042.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40044.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1340},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40046.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,671},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40048.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>40054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>003.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f5d0164b791fbd7b4a2adbee56aa2ec:1/1$</string>
            <key>textureFileName</key>
            <string>003.png</string>
        </dict>
    </dict>
</plist>
