<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>look_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{164,154}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{164,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,154}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{164,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,154}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{164,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,154}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{164,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,154}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{164,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1274},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1268},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,862},{118,110}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{118,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,750},{120,110}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{120,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,856},{118,110}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{118,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,744},{124,108}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{124,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,856},{118,110}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{118,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,962},{112,110}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{112,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{122,122}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{122,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,514},{130,120}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{130,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,750},{122,122}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{122,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{130,120}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{130,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1186},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1052},{106,112}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,28},{106,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,158},{142,118}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{142,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1186},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,974},{106,112}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,28},{106,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1082},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{110,114}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{110,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,158},{102,108}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{102,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,986},{106,116}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,382},{132,112}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{132,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,278},{142,114}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,26},{142,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,284},{142,110}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{142,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,264},{142,116}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{142,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,850},{118,110}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{118,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,832},{118,110}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{118,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{118,110}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{118,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,874},{118,110}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{118,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,854},{118,110}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{118,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1094},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1082},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1166},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_19_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,748},{106,122}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{106,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_19_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,532},{106,130}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{106,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,720},{122,110}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{122,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,636},{126,110}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{126,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,630},{128,110}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{128,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,640},{126,108}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,32},{126,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,944},{112,112}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{112,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1076},{108,110}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,33},{108,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_20_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,944},{112,112}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{112,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_20_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,966},{116,114}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{116,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{134,110}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{134,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,404},{134,110}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{134,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,286},{134,116}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{134,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,404},{134,110}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{134,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{134,110}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{134,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1160},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,968},{106,112}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,28},{106,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,832},{108,110}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{108,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1074},{110,110}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{110,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,742},{122,106}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{122,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,508},{132,108}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{132,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,396},{134,110}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{134,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,420},{132,110}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{132,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,496},{132,110}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{132,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,624},{128,124}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{128,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,158},{142,124}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{142,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,618},{128,124}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{128,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,158},{142,124}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{142,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{158,124}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{158,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,382},{132,132}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{132,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,284},{138,134}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{138,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{126,146}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{126,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,128},{134,146}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{134,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,158},{126,144}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,3},{126,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1058},{106,110}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,944},{106,114}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,26},{106,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,394},{118,132}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{118,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,516},{106,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{106,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,394},{118,132}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{118,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,608},{128,110}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{128,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,516},{128,112}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{128,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{128,114}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{128,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>look_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{126,136}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{126,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>look.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a04fe60c0727be5d04ca49f97a480816$</string>
            <key>textureFileName</key>
            <string>look.png</string>
        </dict>
    </dict>
</plist>
