<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ0x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ0x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{104,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ0x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{1,293},{104,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ0x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{173,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ0x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{319,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ0x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{169,107},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ0x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{315,107},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ0x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{169,213},{104,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{465,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand_card_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,77}</string>
                <key>spriteSourceSize</key>
                <string>{40,77}</string>
                <key>textureRect</key>
                <string>{{107,391},{40,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hand_card_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,77}</string>
                <key>spriteSourceSize</key>
                <string>{40,77}</string>
                <key>textureRect</key>
                <string>{{407,213},{40,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_backstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,77}</string>
                <key>spriteSourceSize</key>
                <string>{40,77}</string>
                <key>textureRect</key>
                <string>{{107,391},{40,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftplayercard0x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{186,359},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftplayercard0x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{247,359},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftplayercard0x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{251,430},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftplayercard0x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{275,213},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftplayercard0x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{275,284},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftplayercard0x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{308,355},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftplayercard0x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{336,213},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftplayercard0x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{336,274},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftplayercard_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{312,426},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>myoutcard0x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{107,1},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myoutcard0x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{107,79},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myoutcard0x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{107,157},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myoutcard0x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{461,122},{60,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>myoutcard0x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{461,184},{60,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>myoutcard0x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{107,235},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myoutcard0x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{107,313},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myoutcard0x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{173,433},{60,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right_backstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,77}</string>
                <key>spriteSourceSize</key>
                <string>{40,77}</string>
                <key>textureRect</key>
                <string>{{407,213},{40,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightplayercard0x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{369,335},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rightplayercard0x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{373,406},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rightplayercard0x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{430,292},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rightplayercard0x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{491,246},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightplayercard0x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{491,307},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightplayercard0x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{434,368},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightplayercard0x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{434,429},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rightplayercard0x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{495,429},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rightplayercard_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{312,426},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_backstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,84}</string>
                <key>spriteSourceSize</key>
                <string>{63,84}</string>
                <key>textureRect</key>
                <string>{{1,439},{63,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,84}</string>
                <key>spriteSourceSize</key>
                <string>{63,84}</string>
                <key>textureRect</key>
                <string>{{87,439},{63,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card_hands.png</string>
            <key>size</key>
            <string>{561,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1260b829858f35c831b7879c96742ce4:ebe0582fb914ce17d1e566054bd127aa:80d64d1906d0088f201d4228f8c948e5$</string>
            <key>textureFileName</key>
            <string>card_hands.png</string>
        </dict>
    </dict>
</plist>
