<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{147,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{293,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{439,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{585,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{731,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{877,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{1,107},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{147,107},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{293,107},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{439,107},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{585,107},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{731,107},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{877,107},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{1,213},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{147,213},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{293,213},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{439,213},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{585,213},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{731,213},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{877,213},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{1,319},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{147,319},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{293,319},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{439,319},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{585,319},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{731,319},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{877,319},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{1,425},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{147,425},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{293,425},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{439,425},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{585,425},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{731,425},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MJ.png</string>
            <key>size</key>
            <string>{1022,530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:143aa53cf5df45eba0eab154e822875a:b1e868438d602b8532fd46ed6d47f318:4ef442379cd258eaa6e9262e77aac3d9$</string>
            <key>textureFileName</key>
            <string>MJ.png</string>
        </dict>
    </dict>
</plist>
