<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{92,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{92,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{183,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{183,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{274,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{274,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{365,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{365,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{456,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{456,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{547,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{547,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{638,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{638,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{729,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{729,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{820,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{820,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{911,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{911,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1002,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1002,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1093,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1093,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1184,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1184,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1275,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1275,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1366,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1366,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1457,1},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{1457,122},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>My_Eat.png</string>
            <key>size</key>
            <string>{1547,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96ef08cf86e6299330975e25a4e1a8f8:4654ef36ada5d1905a5f3c0fba32921f:92fff5bcebc2d2c530a5216d5796eb8d$</string>
            <key>textureFileName</key>
            <string>My_Eat.png</string>
        </dict>
    </dict>
</plist>
