<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MyOut-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,1},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,79},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,79},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,157},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,157},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,235},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,235},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,313},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,313},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,391},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,391},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,469},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,469},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,547},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,547},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,625},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,625},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,703},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,703},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,781},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,781},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,859},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,859},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,937},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,937},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,1015},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,1015},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,1093},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,1093},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,1171},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,1171},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,1249},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MyOut-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{63,1249},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>myoutcard.png</string>
            <key>size</key>
            <string>{124,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0157e09816956257a789bbe6a419ee2:fe6be35c443cbd292336ba1734e2a27e:1c70b1e84fc90e2de579ecba1c26a43e$</string>
            <key>textureFileName</key>
            <string>myoutcard.png</string>
        </dict>
    </dict>
</plist>
