<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,146}}</string>
                <key>sourceSize</key>
                <string>{110,146}</string>
            </dict>
            <key>colour_1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,308},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>colour_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,454},{60,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>colour_3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,132},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>colour_4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,90},{58,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>colour_s_1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,410},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>colour_s_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,476},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>colour_s_3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,450},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>colour_s_4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,444},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>face_cards_1_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,132},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_1_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_1_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{68,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_2_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,220},{66,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_2_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{66,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{66,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_2_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,366},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_3_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,238},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_3_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,366},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_3_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,366},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_4_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,150},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_4_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,246},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>face_cards_4_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,246},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>king_1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,150},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>king_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>king_num_1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{28,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,106}}</string>
                <key>sourceSize</key>
                <string>{28,106}</string>
            </dict>
            <key>king_num_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{28,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,106}}</string>
                <key>sourceSize</key>
                <string>{28,106}</string>
            </dict>
            <key>num_black_10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,412},{30,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,90},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,326},{30,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,334},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,334},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,370},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,334},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,308},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,90},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,370},{28,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,90},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_8_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,90},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_black_9_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,410},{28,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,326},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,454},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,334},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,462},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,462},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,90},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,454},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,454},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,452},{28,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,454},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_8_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,454},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>num_red_9_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,370},{28,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokers_s.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b25b9b691c0e862bad0da20defd7e8bf$</string>
            <key>textureFileName</key>
            <string>pokers_s.png</string>
        </dict>
    </dict>
</plist>
