<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,192}</string>
                <key>spriteSourceSize</key>
                <string>{142,192}</string>
                <key>textureRect</key>
                <string>{{336,263},{142,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,105}</string>
                <key>textureRect</key>
                <string>{{375,158},{79,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_hand_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,192}</string>
                <key>spriteSourceSize</key>
                <string>{142,192}</string>
                <key>textureRect</key>
                <string>{{52,263},{142,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_thrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,192}</string>
                <key>spriteSourceSize</key>
                <string>{142,192}</string>
                <key>textureRect</key>
                <string>{{194,263},{142,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colour_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{78,158},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colour_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{396,88},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colour_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,83}</string>
                <key>textureRect</key>
                <string>{{162,158},{81,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colour_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{0,158},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colour_s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{77,0},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colour_s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colour_s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{117,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colour_s_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{39,0},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,83}</string>
                <key>spriteSourceSize</key>
                <string>{66,83}</string>
                <key>textureRect</key>
                <string>{{243,158},{66,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,83}</string>
                <key>spriteSourceSize</key>
                <string>{66,83}</string>
                <key>textureRect</key>
                <string>{{309,158},{66,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,128}</string>
                <key>spriteSourceSize</key>
                <string>{26,128}</string>
                <key>textureRect</key>
                <string>{{26,263},{26,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,128}</string>
                <key>spriteSourceSize</key>
                <string>{26,128}</string>
                <key>textureRect</key>
                <string>{{0,263},{26,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{220,88},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{132,88},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{176,88},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{308,88},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{352,88},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{44,88},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{264,88},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{352,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{288,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{376,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{0,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{420,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_black_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{332,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{244,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{156,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{200,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{88,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{0,88},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{396,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{308,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{264,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{132,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{220,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{176,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{44,44},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{88,88},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokers.png</string>
            <key>size</key>
            <string>{478,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:562072d71285792b205ab05de08fd43b:b490c04b1491362e433806b2dd4563ba:ed01aede103b954563da09a41b41d1b8$</string>
            <key>textureFileName</key>
            <string>pokers.png</string>
        </dict>
    </dict>
</plist>
