<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>countnum_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>countnum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>countnum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>countnum_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>countnum_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>countnum_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>countnum_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>countnum_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>countnum_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>countnum_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,0},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>countnum.png</string>
            <key>size</key>
            <string>{250,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce7cbce6bbdfdc7b5fec512e40909004$</string>
            <key>textureFileName</key>
            <string>countnum.png</string>
        </dict>
    </dict>
</plist>
