<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image_yapo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{139,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,112}}</string>
                <key>sourceSize</key>
                <string>{139,112}</string>
            </dict>
            <key>peidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{137,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{137,110}}</string>
                <key>sourceSize</key>
                <string>{139,112}</string>
            </dict>
            <key>taohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,112}}</string>
                <key>sourceSize</key>
                <string>{139,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameResult.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a36b035134cc87b693265d99ce4845$</string>
            <key>textureFileName</key>
            <string>gameResult.png</string>
        </dict>
    </dict>
</plist>
