<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,572},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,572},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>111.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,515},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>112.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,515},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>113.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,515},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>114.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,515},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>115.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,940},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>116.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,855},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>122.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,770},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>123.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,685},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>124.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,600},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>125.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,515},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>145.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,458},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>146.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,458},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>155.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,458},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>156.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,458},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>166.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,458},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>211.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,401},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>212.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,401},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>213.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,401},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>214.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,401},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>215.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,401},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>222.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,344},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>223.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,344},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>224.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,344},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>225.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,344},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>226.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,344},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>233.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>234.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,287},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>235.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,287},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>236.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,287},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>244.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,287},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>245.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,287},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>246.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>255.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,230},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>256.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,230},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>266.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,230},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,230},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>311.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,230},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>313.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,173},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>314.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,173},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>315.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,173},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>316.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,173},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>322.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,173},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>324.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,116},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>325.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,116},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>326.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,116},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>333.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,116},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>334.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,116},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>336.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,59},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>344.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,59},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>345.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,59},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>346.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,59},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>355.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,59},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>356.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>366.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>outCard_UpDown.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cba662ec49840349068c87eda74b851$</string>
            <key>textureFileName</key>
            <string>outCard_UpDown.png</string>
        </dict>
    </dict>
</plist>
