<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>btn_chi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1644},{287,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,100}}</string>
                <key>sourceSize</key>
                <string>{287,100}</string>
            </dict>
            <key>btn_chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1542},{287,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,100}}</string>
                <key>sourceSize</key>
                <string>{287,100}</string>
            </dict>
            <key>btn_exitroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,628},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>btn_flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1440},{287,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,100}}</string>
                <key>sourceSize</key>
                <string>{287,100}</string>
            </dict>
            <key>btn_flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1753},{287,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,100}}</string>
                <key>sourceSize</key>
                <string>{287,100}</string>
            </dict>
            <key>btn_gong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1687},{347,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,100}}</string>
                <key>sourceSize</key>
                <string>{347,100}</string>
            </dict>
            <key>btn_gong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1338},{347,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,100}}</string>
                <key>sourceSize</key>
                <string>{347,100}</string>
            </dict>
            <key>btn_guo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,526},{189,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,100}}</string>
                <key>sourceSize</key>
                <string>{189,100}</string>
            </dict>
            <key>btn_guo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,424},{189,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,100}}</string>
                <key>sourceSize</key>
                <string>{189,100}</string>
            </dict>
            <key>btn_hu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1338},{413,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,100}}</string>
                <key>sourceSize</key>
                <string>{413,100}</string>
            </dict>
            <key>btn_hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{413,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,100}}</string>
                <key>sourceSize</key>
                <string>{413,100}</string>
            </dict>
            <key>btn_huan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1372},{469,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,100}}</string>
                <key>sourceSize</key>
                <string>{469,100}</string>
            </dict>
            <key>btn_huan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,901},{469,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,100}}</string>
                <key>sourceSize</key>
                <string>{469,100}</string>
            </dict>
            <key>btn_tao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,322},{189,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,100}}</string>
                <key>sourceSize</key>
                <string>{189,100}</string>
            </dict>
            <key>btn_tao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,220},{189,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,100}}</string>
                <key>sourceSize</key>
                <string>{189,100}</string>
            </dict>
            <key>btn_xianhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1746},{280,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,87}}</string>
                <key>sourceSize</key>
                <string>{280,87}</string>
            </dict>
            <key>btn_xianhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1746},{280,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,87}}</string>
                <key>sourceSize</key>
                <string>{280,87}</string>
            </dict>
            <key>chang.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,399},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,678},{78,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,116}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,355},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,213},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>icon_beans.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,64},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>image_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,683},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,49}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>image_jiandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,220},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,796},{103,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,110}}</string>
                <key>sourceSize</key>
                <string>{103,110}</string>
            </dict>
            <key>left_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,153},{24,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{24,58}</string>
            </dict>
            <key>opbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,678},{1334,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,120}}</string>
                <key>sourceSize</key>
                <string>{1334,120}</string>
            </dict>
            <key>oppo_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,443},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>right_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,93},{24,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{24,58}</string>
            </dict>
            <key>songzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,628},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,311},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{249,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,60}}</string>
                <key>sourceSize</key>
                <string>{249,60}</string>
            </dict>
            <key>title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,158},{239,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,60}}</string>
                <key>sourceSize</key>
                <string>{239,60}</string>
            </dict>
            <key>title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,491},{185,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,60}}</string>
                <key>sourceSize</key>
                <string>{185,60}</string>
            </dict>
            <key>yangzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,64},{241,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,92}}</string>
                <key>sourceSize</key>
                <string>{241,92}</string>
            </dict>
            <key>ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,267},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wahuaItem.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abc9cfbf71640d4dcccd34d79a564ed3$</string>
            <key>textureFileName</key>
            <string>wahuaItem.png</string>
        </dict>
    </dict>
</plist>
