<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{1,446},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{728,1},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{26,446},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{728,42},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{753,1},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{51,446},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{728,83},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{753,42},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{76,446},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{753,83},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_dark_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{1,158},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_dark_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{158,1},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_dark_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{1,230},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_dark_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{158,73},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_light_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{300,1},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_light_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{1,302},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_light_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{300,73},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_light_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{442,1},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_dark_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{584,1},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_dark_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{656,1},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_dark_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{143,158},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_dark_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{143,300},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_light_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{215,145},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_light_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{215,287},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_light_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{287,145},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_light_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{287,287},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_dark_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{359,145},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_dark_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{359,287},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_dark_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{431,145},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_dark_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{431,287},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_light_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{503,145},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_light_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{503,287},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_light_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{575,145},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_light_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{575,287},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_dark_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{1,374},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_dark_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{442,73},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_dark_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{215,429},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_dark_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{357,429},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_light_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{499,429},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_light_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{647,143},{140,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>up_light_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{647,285},{140,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>up_light_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{641,429},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>position.png</string>
            <key>size</key>
            <string>{782,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eb708eaaa03883709b6795d442f598b:58b68a93a9bada184292056d8baf6813:9f76428f17e2d4867d5a74395c037a76$</string>
            <key>textureFileName</key>
            <string>position.png</string>
        </dict>
    </dict>
</plist>
