<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,764},{161,129}}</string>
                <key>offset</key>
                <string>{99,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,131},{161,129}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1030},{141,153}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,168},{141,153}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1030},{143,151}}</string>
                <key>offset</key>
                <string>{21,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,211},{143,151}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,895},{159,133}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,211},{159,133}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{359,377}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,72},{359,377}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb06.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,411},{383,407}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,44},{383,407}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{401,407}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,45},{401,407}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb08.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{383,407}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,44},{383,407}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{401,407}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,45},{401,407}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{375,401}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,53},{375,401}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,385},{377,373}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,75},{377,373}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb12.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,820},{383,369}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,79},{383,369}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,405},{383,373}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,75},{383,373}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,790},{383,373}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,75},{383,373}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb15.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,405},{383,373}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,75},{383,373}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb16.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,820},{377,371}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,78},{377,371}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{381,371}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,78},{381,371}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,2},{381,373}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,76},{381,373}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,790},{379,213}}</string>
                <key>offset</key>
                <string>{12,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,227},{379,213}}</string>
                <key>sourceSize</key>
                <string>{559,521}</string>
            </dict>
            <key>bomb20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,2},{210,110}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{210,110}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bomb.png</string>
            <key>size</key>
            <string>{2027,1194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334ac190aa5c754765bec0785fb816af:1/1$</string>
            <key>textureFileName</key>
            <string>Bomb.png</string>
        </dict>
    </dict>
</plist>
