<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,511},{74,77}}</string>
                <key>offset</key>
                <string>{-5,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,88},{74,77}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,563},{74,75}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,162},{74,75}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,578},{74,71}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,202},{74,71}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,502},{74,77}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,197},{74,77}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,502},{74,77}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,197},{74,77}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,306},{110,105}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,169},{110,105}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{192,193}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,119},{192,193}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,193}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,98},{192,193}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{190,193}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,98},{190,193}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,413},{106,87}}</string>
                <key>offset</key>
                <string>{-22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,187},{106,87}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{106,109}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,165},{106,109}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{106,117}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,157},{106,117}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,218},{108,125}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,149},{108,125}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20027.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,328},{106,93}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,181},{106,93}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20029.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,110},{106,111}}</string>
                <key>offset</key>
                <string>{-22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,163},{106,111}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20031.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,196},{108,125}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,149},{108,125}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20033.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,388},{82,103}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,146},{82,103}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20035.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,410},{92,99}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,157},{92,99}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20037.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,328},{80,93}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,166},{80,93}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20039.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,493},{80,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,160},{80,99}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{86,95}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,164},{86,95}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{78,83}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,176},{78,83}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20045.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,493},{68,79}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,180},{68,79}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20047.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,423},{68,79}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,180},{68,79}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20049.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,423},{68,79}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,180},{68,79}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20051.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,423},{68,79}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,180},{68,79}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20053.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,423},{68,79}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,180},{68,79}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
            <key>prop_20055.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,423},{68,79}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,180},{68,79}}</string>
                <key>sourceSize</key>
                <string>{396,407}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb6fca7dbd56f19e7b183672c7297dfb$</string>
            <key>textureFileName</key>
            <string>prop_2.png</string>
        </dict>
    </dict>
</plist>
