<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprite 4030001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,182},{45,44}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{45,44}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,232},{69,70}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{69,70}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030004.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,159},{77,74}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{77,74}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{103,80}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030008.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{99,94}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,94}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030010.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,92},{99,88}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030012.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{99,88}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030014.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{99,88}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030016.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{99,88}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{99,88}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030020.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,249},{65,70}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{65,70}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030022.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,226},{65,72}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{65,72}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030024.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,182},{65,76}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{65,76}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030026.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,92},{65,80}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{65,80}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030028.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,92},{65,80}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{65,80}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{65,80}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{65,80}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030032.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,165},{65,80}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{65,80}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030034.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,159},{65,78}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{65,78}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030036.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,98},{65,80}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{65,80}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030038.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,235},{65,70}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{65,70}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{65,70}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{65,70}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030042.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,249},{65,54}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{65,54}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>sprite 4030044.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,235},{65,54}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{65,54}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b57b99b05a734e42adcf593d7d183652$</string>
            <key>textureFileName</key>
            <string>prop_3.png</string>
        </dict>
    </dict>
</plist>
