<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuntian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,870},{136,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,163},{136,70}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{590,286}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,100},{590,286}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian11.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,290},{584,290}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,96},{584,290}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian12.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,582},{578,286}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,99},{578,286}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,870},{266,134}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,132},{266,134}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,538},{398,200}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,100},{398,200}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{406,218}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,100},{406,218}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,290},{440,246}}</string>
                <key>offset</key>
                <string>{-38,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,104},{440,246}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,740},{460,256}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,104},{460,256}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{576,330}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,62},{576,330}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{568,328}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,63},{568,328}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
            <key>chuntian9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,322}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,64},{596,322}}</string>
                <key>sourceSize</key>
                <string>{654,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuntian.png</string>
            <key>size</key>
            <string>{1628,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92f7e4b5a974c326f3b7c8177f1377bc:1/1$</string>
            <key>textureFileName</key>
            <string>chuntian.png</string>
        </dict>
    </dict>
</plist>
