<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangza01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,692},{98,232}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,129},{98,232}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza02.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,692},{98,232}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,129},{98,232}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{146,290}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,129},{146,290}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza04.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,394},{164,296}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,129},{164,296}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,734},{220,312}}</string>
                <key>offset</key>
                <string>{-11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,128},{220,312}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza06.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{258,318}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,128},{258,318}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza07.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,394},{306,338}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,128},{306,338}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza08.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{350,390}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,86},{350,390}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,456}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{386,456}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{386,406}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{386,406}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza11.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,692},{98,230}}</string>
                <key>offset</key>
                <string>{-10,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,16},{98,230}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,868},{52,74}}</string>
                <key>offset</key>
                <string>{-11,192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,16},{52,74}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza13.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,322},{48,46}}</string>
                <key>offset</key>
                <string>{-10,205}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,17},{48,46}}</string>
                <key>sourceSize</key>
                <string>{400,490}</string>
            </dict>
            <key>wangza14.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,322},{218,106}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,36},{218,106}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wangza.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb0697929e4460798c9acbd9900c8adf:1/1$</string>
            <key>textureFileName</key>
            <string>wangza.png</string>
        </dict>
    </dict>
</plist>
