<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,33},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>pt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>pt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,56},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>pt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>pt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pt.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ead51e403fe520690aa27250366bbde$</string>
            <key>textureFileName</key>
            <string>pt.png</string>
        </dict>
    </dict>
</plist>
