<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,756},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3347,379},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2678,379},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,379},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3347,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2678,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1510},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1133},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,756},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,379},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1510},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1133},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,756},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,379},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1133},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,375}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>123.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d34d1953989a861ffd00215c1064ee7:1/1$</string>
            <key>textureFileName</key>
            <string>123.png</string>
        </dict>
    </dict>
</plist>
