<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{84,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea873a7ae2e10af333408510e32b8d1:1/1$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
