<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shunzhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{252,240}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{252,240}}</string>
                <key>sourceSize</key>
                <string>{264,256}</string>
            </dict>
            <key>shunzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,240}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{264,240}}</string>
                <key>sourceSize</key>
                <string>{264,256}</string>
            </dict>
            <key>shunzhi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,182},{156,68}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,75},{156,68}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>shunzhi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,146},{100,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,75},{100,62}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>shunzhi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,146},{106,94}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,49},{106,94}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>shunzhi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,146},{124,98}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,49},{124,98}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>shunzhi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{142,116}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{142,116}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>shunzhi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{162,142}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{162,142}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>shunzhi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{200,178}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{200,178}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shunzhi.png</string>
            <key>size</key>
            <string>{1022,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d44876d20896d7120e3bfe2845421f44:1/1$</string>
            <key>textureFileName</key>
            <string>shunzhi.png</string>
        </dict>
    </dict>
</plist>
